@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700');

.smooth-scroll {
    scroll-behavior: smooth;
}
.fourth-page{
    font-family: 'Source Sans Pro', sans-serif;

    a{
        text-decoration: none;
    }
    h1{
        font-size: 3.5rem;
        line-height: 1.2;
        font-weight: 700;
        margin: 0;
        font-family: 'Source Sans Pro', sans-serif;
    }
    h2{
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.2;
        font-family: 'Source Sans Pro', sans-serif;
    }
    h3{
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 1.2;
        font-family: 'Source Sans Pro', sans-serif;
    }
    p{
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.8;
        font-family: 'Source Sans Pro', sans-serif;
    }
    em{
        padding-right: 10px;
    }
    .navbar{
        display: flex;
        justify-content: flex-end;
        padding: 10px;
    }
    .button-menu{
        position: fixed;
        color: #fff;
        background: rgba(52,58,64,.5);
        border-color: transparent; 
        z-index: 99;
        border-radius: 5px;
        width: 50px;
        height: 50px;
        text-align: center;
    }
    .image{
        background-image: url(../containers/images/card1pr4.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        
        @media (min-width: 768px) and (max-width: 1024px){
            background-size: cover;
        }
    }
    .card-1{
        &__container{
            display: flex;
            flex-direction: column;
            text-align: -webkit-center;

            @media (min-width: 1024px){
                padding: 8rem 0;
            }
        }
        &__heading{
            padding-top: 30px;

            @media (min-width: 1024px){
                font-size: 5.5rem;
            }
        }
        &__subheading{
            padding-bottom: 3rem;
            font-style: italic;

            @media (min-width: 1024px){
                padding-bottom: 1rem;
            }
        }
        &__button-wrapper{
            margin-bottom: 5rem;
        }
    }
    .button-card{
        background-color: #1d809f;
        border-color: #1d809f;
        color: #fff;
        padding: 1.25rem 2.5rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 5px;
        border: 1px solid transparent;
        font-weight: 700;
        text-decoration: none;

        &--color{
            background-color: #343a40;
            border-color: #343a40;
            text-decoration: none;
        }
        &--white{
            background-color: #fff;
            border-color: #fff;
            color: black;
            margin-right: 20px;

            @media (max-width: 320px){
                margin-right: 0;
            }
        }
    }
    .card-2{
        display: flex;
        flex-direction: column;
        text-align: -webkit-center;
        padding: 7.5rem 15px;
        font-family: 'Source Sans Pro', sans-serif;

        &__subheading{
            @media (min-width: 1024px){
                font-size: 2rem;
                margin-bottom: 0;
            }
        }
        &__description{
            margin: 3rem 0;

            @media (min-width: 1024px){
                margin-top: 0;
                font-size: 1.2rem;
            }
        }
    }
    .link-website{
        padding-left: 5px;
        text-decoration: none;
        color: #1d809f;
    }
    .card-3{
        background-color: #1d809f;
        display: flex;
        flex-direction: column;
        text-align: center;
        color: white;
        padding: 7.5rem 0;

        &__icons-wrapper{
            @media (min-width: 1024px){
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: auto;
            }
            @media (width: 768px){
                display: grid;
                grid-template-columns: repeat(2, 1fr);

            }
        }
        &__text-services{
            color: #ecb807;
            font-size: 1rem;
            margin: 0;
        }
        &__subheading{
            margin-top: 0;
            font-size: 2.5rem;
        }
        &__property{
            margin-bottom: 5px;
        }
        &__description{
            margin-top: 0;
            margin-bottom: 3rem;
            color: rgba(255,255,255,.7);
        }
    }
    .fa-stack{
        font-size: 3rem;
       
    }
    .fa-heart{
        padding: 0 5px;
    }
    .item{
        color: #1d809f;
    }
    .card-4{
        background-image: url("../containers/images/card4pr4.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        padding: 15rem 0;

        @media (min-width: 768px) and (max-width: 1024px){
            background-size: cover;
        }
        @media (width: 768px){
            padding: 6rem 0;
        }

        &__container{
            text-align: -webkit-center;
        }
        &__subheading{
            font-size: 3.5rem;
            margin-bottom: 4rem;

            @media (min-width: 1024px){
                padding: 0 23rem;
            }
            @media (width: 768px){
                padding: 0 9rem;
            }
        }
    }
    .card-5{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 7.5rem 0;

        &__portfolio{
            color: #ecb807;
            font-size: 1rem;
            margin: 0;
        }
        &__subheading{
            margin-top: 0;
            font-size: 2.5rem;
        }
    }
    .captions{
        @media (min-width: 1024px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
        }
        &__img-wrapper{
            position: relative;
        }
        &__img, &__overlay {
            width: 100%;
        }
        
        &__overlay{
            position: absolute;
            background-color: #212529;
            height: 100%;
            top: 0;
            left: 0;
            opacity: .3;
        }
        &__card{
            margin: 1rem;
            position: relative;

            @media (min-width: 1024px){
                margin: 0;
            } 
            
        }
        &__text{
            position: absolute;
            color: #fff;
            margin: 6rem 5rem 1rem 1rem;
            text-align: -webkit-left;
        }
        &__title{
            margin: 0;
            font-size: .8rem;
        }
        &__p{
            font-size: 1.2rem;
            line-height: 1.5;
        }
    }
    .card-6{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 7.5rem 0;
        background-color: #1d809f;

        &__subheading{
            color: #fff;
            margin-bottom: 2rem;
            font-size: 2rem;
        }
    }
    .map{
        width: 100%;
        height: 250px;

        @media (min-width: 1024px){
            height: 400px;
        }
    }
    .footer{
        padding: 5rem 0;

        @media (min-width: 768px) and (max-width: 1024px){
            padding: 2rem;
        }

        &__p{
            text-align: center;
            margin-top: 2rem;
            font-weight: 400;
            font-size: .8rem;
        }
    }
   .footer-icons{
        font-size: 2rem;
        color: #1d809f;
        text-align: center;
        cursor: pointer;
    }
   .scroll{
        display: flex;
        justify-content: flex-end;
        margin: 1rem;

        @media (min-width: 768px) and (max-width: 1024px){
            margin: 0;
        }
   }
   .button-scroll{
        color: #fff;
        background: rgba(52,58,64,.5);
        border-color: transparent; 
        z-index: 0;
        border-radius: 5px;
        width: 50px;
        height: 50px;
        text-align: center;
        position: fixed;
        bottom:15px;
        right:15px;
        z-index: 2;
        display: none;

   }
   .scrolled{
       visibility: visible!important;
       color: #fff;
        background: rgba(52,58,64,.5);
        border-color: transparent; 
        z-index: 0;
        border-radius: 5px;
        width: 50px;
        height: 50px;
        text-align: center;
        position: fixed;
        bottom:15px;
        right:15px;
        z-index: 2;
   }
   .menu{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0; 
        margin: 0;
        padding: 0;
        background-color: #1d809f;
        border-left: 1px solid rgba(255,255,255,.1);
        z-index: 3;

        &__header{
            height: 60px;
            line-height: 50px;
            padding: 10px;
            font-size: 1.2rem;
            background: rgba(52,58,64,.1);
            
        }
        &__heading{
            color: white;
        }
        &__list{
            display: flex;
            flex-direction: column;
            padding-left: 15px;
        }
        &__item{
            color: white;
            padding: 15px;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;

            @media (min-width: 1024px){
                padding: 25px;
            }
        }
   }
   .menu-drop{
        width: 250px;
        transition: width 0.3s;
   }
   .menu-closed{
       width: 0;
       transition: width 0.3s;

       * {
           display: none;
       }
   }

}