.page6{
        font-family: 'Open Sans', Arial, sans-serif;
    a{
        text-decoration: none;
    }
    .navbar{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        align-items: center;
        padding: 20px;
        background-color: white;

        @media(min-width: 768px){
            display: grid;
            grid-template-columns: 25% 1fr;
        }

        &__right-side{
            display: flex;
            justify-content: flex-end;
            padding-right: 30px;
        }
        &__list{
            text-align: right;
            padding-right: 45px;

            @media(max-width: 767px){
                display: none;
            }
        }
        &__list-item{
            padding: 8px 5px;
            color: #676767;
            font-size: 1rem;
            font-weight: 700;
            text-decoration: none;
            text-transform: uppercase;
            
            @media(max-width: 767px){
                display: none;
            }
            &:active{
                color: #ffffff;
                background: #FF5722;
            }
            &:hover{
                color: black;
            }
            &__caret{
                display: inline-block;
                margin-left: 2px;
                vertical-align: middle;
                border-top: 4px solid;
                border-right: 4px solid transparent;
                border-left: 4px solid transparent;
            }
        }
    }
    .navbar-btn{
        background-color: transparent;
        padding: 7px 10px;
        border: 1px solid transparent;
        border-color: #ddd;
        color: rgb(110, 108, 108);

        @media(min-width: 768px){
            display: none;
        }
    }
    .dropdown-menu{
        display: flex;
        flex-direction: column;
        align-items: left;
        grid-column: 1/3;
        padding: 15px 0;
        transition: height 0.3s;
        height: 300px;

        &__list-item{
            padding: 5px;
            color: #676767;
            font-weight: 600;
            font-size: 1rem;
            padding: 15px 10px;
            
            &__caret{
                display: inline-block;
                margin-left: 2px;
                vertical-align: middle;
                border-top: 4px solid;
                border-right: 4px solid transparent;
                border-left: 4px solid transparent;
            }
        }
    }
    .menu-closed{
        height: 0;
        transition: height 0.3s;
 
        * {
            display: none;
        }
    }
    
    .landing{
        &__img{
            width: 100%;
        }
    }
    .services{
        margin-bottom: 60px;

        &__title{
            font-weight: 600;
            line-height: 1.1em;
            color: #333;
            margin: 60px 0 30px;
            font-size: 2rem;
            text-align: center;
        }
        &__p{
            font-weight: 300;
            line-height: 1.6em;
            color: #656565;
            font-size: 1rem;
            text-align: center;
        }
        &__cards-container{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 1fr);
            padding: 0 30px;        
        }
        &__card{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &__card-title{
            color: #484848;
            font-size: 1.2rem;
        }
        &__card-p{
            font-weight: 300;
            line-height: 1.6em;
            color: #656565;
        }
    }
    .company{
        background: #f5f5f5;
        padding: 60px;

        &__info{
            text-align: center;
            padding: 0 20px
        }
        &__title{
            font-weight: 600;
            line-height: 1.1em;
            color: #333;
            margin: 60px 0 30px;
            font-size: 2rem;
        }
        &__description{
            font-weight: 300;
            line-height: 1.6em;
            color: #656565;
            font-size: 1rem;
            margin: 40px 0; 
        }
        &__container{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            grid-gap: 10px;
            margin-bottom: 60px;
        }
        &__list-wrapper{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &__about{
            font-weight: 300;
            line-height: 1.6em;
            color: #656565;
            font-size: 1rem;
            text-align: -webkit-left;
            padding: 0 10px;
        }
        &__item{
            font-weight: 300;
            line-height: 1.6em;
            color: #656565;
            font-size: 1rem;
        }
        &__btn{
            text-align: center;
            color: #FFFFFF;
            background: #ff5722;
            border-color: #ff5722;
            width: 120px;
            padding: 10px;
        }
        &__img-wrapper{
            margin-top: 9px;
        }
        &__img{
            width: 300px;
        }
    }
    .fa-angle-right{
        font-size: 1.2rem;
        padding: 0 15px;
        font-weight: 700;
        color: #ff5722;
    }
    .icon-common{
        font-size: 2rem;
        color: #ff5722;
        padding: 0 20px;
    }
    
    .features{
        padding: 40px;

        &__buttons-wrapper{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
       &__subtitle{
            font-weight: 500;
            line-height: 1.1em;
            color: rgb(10, 10, 10);
            margin: 20px 0;
            font-size: 1.4rem;
       }
       &__tests-card{
            display: grid;
            grid-template-rows: 60px 1fr;
       }
       &__text{
            padding: 15px;
            border: 1px solid #eaeaea;
            color: #656565;
       }
    }
    .button-features{
        font-size: 1rem;
        width: 100%;
        height: 60px;
        color: #ff5722;
        text-transform: uppercase;
        border: transparent;
        background-color: #eaeaea;

        &:active{
            background-color: #ff5722;
            color: #ffffff;
        }
    }
    .news{
        padding: 40px;

        &__subtitle{
            font-weight: 500;
            line-height: 1.1em;
            color: rgb(10, 10, 10);
            margin: 20px 0;
            font-size: 1.4rem;
        }
        &__card-news{
            border: 1px solid #ddd;
        }
    }
    .accordion{
        border-bottom: 1px solid #ddd;

        &__button{
            padding: 10px;
            cursor: pointer;
            font-size: 1.2rem;
            color: #656565;
        }
        &__p{
            margin: 0;
            padding: 20px;
            border-top: 1px solid #ddd;
            color: #656565;
            line-height: 1.6em;
        }
    }
    .testimonials{
        padding: 40px;

        &__subtitle{
            font-weight: 500;
            line-height: 1.1em;
            color: rgb(10, 10, 10);
            margin: 20px 0;
            font-size: 1.4rem;
        }
        &__quote-card{
            background: #efefef none repeat scroll 0 0;
            margin: 0;
            color: #666;
            font-size: .8rem;
            line-height: 20px;
            padding: 15px;
            position: relative;

            &::before{
                right: 0;
                bottom: 0;
                content: " ";
                position: absolute;
                border-bottom: 20px solid #fff;
                border-left: 15px solid transparent;
            }
            &::after{
                right: 0;
                bottom: 0;
                content: " ";
                display: block;
                position: absolute;
                border-style: solid;
                border-width: 20px 20px 0 0;
                border-color: #c5c5c5 transparent transparent transparent;
            }
        }
        &__p{
            color: #666;
            font-style: italic;
        }
        &__info-card{
            margin: 30px 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }
        &__img{
            border: 1px solid #cccccc;
            border-radius: 150px !important;
            height: 75px;
            padding: 3px;
            width: 75px;
        }
        &__name{
            color: #FF5722;
            margin-top: 0;
        }
        &__job{
            color: #666;
            font-size: .7rem;
            margin: 0;
        }
    }
    .fa-cloud, .fa-map-marker-alt, .fa-fire{
        padding: 0 10px;
    }
    .subfooter{
        padding: 30px 30px 100px;
        color: #858585;
        background: #2d2d2d;
        border-bottom: 1px solid #414040;
        display: flex;
        flex-direction: column;

        &__title{
            font-weight: 700;
            font-size: 1rem;
        }
        &__details{
            margin: 15px 0;
        }
        &__p{
            margin: 0;
        }
        &__list{
            display: flex;
            flex-direction: column;
        }
        &__item{
            text-decoration: none;
            color: #858585;
            padding: 5px 0;

            &:hover{
                color: #ff5722;
            }
        }
    }
    .footer{
        color: #858585;
        background: #2d2d2d;
        padding: 30px;

        &__copyright{
            font-size: 0.8rem!important;
            line-height: 1.6em;
            padding-bottom: 20px;
        }
        &__website{
            padding: 5px;
            color: white;

            &:hover{
                color: #ff5722;
            }
        }
        &__icons-list{
            display: flex;
            flex-direction: row;
            font-size: 1.2rem;
        }
    }
    .footer-icon{
        padding: 0 20px;
       
        &:hover{
            color: #ff5722;
        }
    }
    .button-scroll{
        position: fixed;
        width: 32px;
        height: 32px;
        bottom: 0px;
        right: 20px;
        background: #ff5722;
        font-size: 15px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .scrolled{
        display: none;
    }
}