.page11{
  .about{
    color: #333333;

    &__title{
      text-align: center;
      font-size: 38px;
      font-weight: 700;
      margin: 60px 0 20px;
    }
    &__title-color{
      color: #F7780F;
    }
    &__subtitle{
      text-align: center;
      margin: 0;
      font-size: 16px;

      @media(min-width: 1024px){
        font-size: 18px;
      }
    }
    &__part1{
          padding: 5% 6%;

      @media(min-width:2560px){
        margin: 0 18%;
      }

      @media(min-width: 1024px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
      }
    }
    &__pic-stats{
      width: 100%;
    }
    &__p{
      font-size: 15px;
      line-height: 1.50;
    }
    &__list{
      padding: 0;
      list-style-type: none;
    }
    &__list-item{
      text-decoration: none;
      padding: 6px 0;
    }
    &__part2{
      padding: 0 6%;

      @media(min-width:2560px){
        margin: 0 18%;
      }
    }
    &__big{
      @media(min-width: 1024px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        padding: 0 40px;
      }
    }
    &__title2{
      font-weight: 500;
      line-height: 1.1;
      font-size: 28px;
    }
    &__acc{
      margin-top: 40px;
    }
    &__part3{
      background-color: #D6D6D6;
      padding: 0;
    }
    &__part3-title{
      font-size: 38px;
      font-weight: 700;
      margin-bottom: 20px;
      text-align: center;
      padding: 70px 0;
      margin: 0;
    }
  }
  .arrow{
    color: #F7780F;
    padding-right: 10px;
  }
  .accordion{
    border: 1px solid #ddd;
    margin: 10px 0;

    &__button{
        padding: 10px;
        cursor: pointer;
        font-size: 1rem;
        color: #333333;
        background-color: #FAFAFA;
        position: relative;

        &:hover{
          background-color: #FFFFFF;
          color: #DB0A61;
        }

        &::after{
          font-family: "Font Awesome\ 5 Free";
          content: "\f0fe";
          position: absolute;
          right: 15px;
          font-size: 14px;
          top: 50%;
          margin-top: -7px;
          font-weight: 400;
        }
      &--open::after{
        font-family: "Font Awesome\ 5 Free";
        content: "\f146";
      }
    }
    &__p{
        margin: 0;
        padding: 20px;
        border-top: 1px solid #ddd;
        color: #333333;
        line-height: 1.6em;
        transition: height 0.3s;
        height: 150px;
        overflow: scroll;
    }
    &__p-closed{
      transition: height 0.3s;
      height: 0;
      margin: 0;
    }
}
}