.page6{
    .contact{
        margin-bottom: 100px;

        &__page-title{
            color: white;
            padding: 50px 0;
            text-align: center;
            background: #2d2d2d;
        }
        &__title{
            font-size: 1.4rem;
        }
        &__about-wrapper{
            padding: 30px 8%;

            @media(width: 2560px){
                margin: 0 400px;
            }
        }
        &__text{
            line-height: 1.1em;
            color: #212121;
            font-weight: 200;
        }
        &__text-color{
            line-height: 1.1em;
            color: #ff5722;
        }
        &__p{
            font-weight: 300;
            line-height: 1.6em;
            color: #656565;
        }
        &__form{
            border-bottom: 1px solid #656565;
            height: 50px;
            width: 100%;
            font-size: 16px;
            border: 0;
            border-bottom: 1px solid darkgrey;

            &:focus{
                border-bottom: 2px solid #ff5722;
                padding: 0 5px;
            }
            @media(min-width: 1024px){
                width: 50%;
            }
        }
        &__form:focus + label{
            font-size: 14px;
            transition: all .3s ease;
            color: #ff5722;
        }
        &__label{
            position: absolute;
            top: -12px;
            :focus{
                padding-bottom: 15px;
            }
        }
        &__info-wrapper{
            display: grid;
            grid-template-rows: repeat(2,1fr) 150px;
            grid-gap: 10px;
            padding: 30px 8%;

            @media(min-width: 2560px){
                margin: 0 400px;
            }
        }
        &__info-card{
            position: relative;
            margin-bottom: 10px;
            display: flex;
            font-weight: 600;
            color: #656565;
            padding: 10px 0;
        }
        &__textarea{
            height: 100px;
        }
        &__btn-wrapper{
            display: flex;
            justify-content: flex-end;
            padding-right: 80px;

            @media(min-width: 1024px){
                justify-content: center;
            }
        }
    }
    .button-contact{
        color: #FFF;
        width: 120px;
        height: 35px;
        font-weight: 600;
        font-size: .8rem;
        background: #f1511e;
        border-color: #ff5722;
        box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
        border: none;
    }
}