.page12{
  .experience{

    &__title{
      font-size: 34px;
      text-align: center;
      font-weight: 500;
      padding: 8% 8% 0 8%;
    }
    &__icon-container{
      background: #585858;
      display: grid;
      justify-items: center;
      grid-gap: 15px;
      padding: 60px;
    }
  }
}