.page8{
  .video{
    @media(min-width: 1024px){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }
    @media(min-width: 2560px){
      margin: 0 500px;
    }

    &__text-wrapper{
      display: flex;
      flex-direction: column;
      text-align: left;
      padding: 20px;
    }
    &__title{
      font-size: 28px;
      color: #2d3033;
      font-weight: 100;
    }
    &__p{
      font-size: 14px;
      line-height: 22px;
      color: #6c7279;
      margin: 0;
    }
    &__video-wrapper{
      display: flex;
      justify-content: center;
      padding-bottom: 60px;
    }
    &__player{
      width: 360px;
      height: 200px;

    @media(min-width: 768px){
      width: 550px;
      height: 350px;
    }
    }
  }
}