.page11{
  .team{
    color: #333333;
    padding: 60px 20px;

    &__title{
      text-align: center;
      font-size: 38px;
      font-weight: 700;
      margin: 60px 0 20px;
    }
    &__subtitle{
      text-align: center;
      margin: 0;
      font-size: 16px;

      @media(min-width: 1024px){
        font-size: 18px;
      }
    }
    &__wrapper{
      padding: 40px 0 0 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      @media(min-width: 768px){
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: auto;
      }
      @media(min-width:2560px){
        margin: 0 500px;
      }
    }
    &__card{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px 0;
    }
    &__img{
      width: 80%;
    }
    &__info{
      text-align: center;
    }
    &__name{
      font-size: 16px;
      font-weight: 700;
      margin: 15px 0 0 0;
    }
    &__job{
      color: #9a9a9a;
      margin: 0 0 10px;
    }
  }
  .team-icon{
    width: 50%;
    margin: 5px 0;
    border-radius: 3px 0 0 3px;
    text-align: center;
    line-height: 36.8px;
    
  }
  .t{
    background-color: #eee;
    color: #565656;

    &:hover{
      background: #55acee;
      color: white;
    }
  }
  .f{
    background-color: #eee;
    color: #565656;

    &:hover{
      color: white;
      background: #3b5998;

    }
  }
}