.page9{
  font-family: 'Open Sans', sans-serif;

  .gallery{
    background: rgb(43, 42, 42);
    padding: 40px 15px;

    &__title{
      color: #D2D2D2;
      font-size: 30px;
      text-align: center;
      margin: 0;
      font-weight: 600;
      font-family: 'Raleway', sans-serif;
    }
    &__subtitle{
      color: #888888;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      margin: 20px 10px;
    }
    &__tags-container{
      margin: 40px 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__tag{
      background: transparent;
      border: #60B10F solid 1px;
      color: #7C7C7C;
      transition: all 0.3s ease-in-out 0s;
      border-radius: 4px;
      font-size: 12px;
      line-height: 20px;
      margin: 5px 10px;
      padding: 10px 18px;

      &:hover{
        background: #60B10F;
        color: #FFFFFF;
      }
      &:active{
        background: #60B10F;
        color: #FFFFFF;
      }
    }
    &__images-container{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
    &__image{
      width: 100%;
      opacity: .4;
    }
    &__card{
      position: relative;
      display: flex;
    }
    &__card-title{
      position: absolute;
      z-index: 10;
      transform: translateX(-50%);
      left: 50%;
      bottom: 40%;
      color: #A3A3A3;
      font-size: 30px;
      font-weight: 300;
      margin: 0;
    }
    &__card-subheading{
      opacity: 0;
      transform: translateX(-50%);
      left: 50%;
      bottom: 20%;
      position: absolute;
      z-index: 10;
      margin: 0;
      color: rgb(230, 227, 227);
      font-size: 12px;
      letter-spacing: 1px;
      width: 300px;
      text-align: center;
      line-height: 24px;

      &:hover{
        opacity: 1;
        
      }
    }
  }
}