.page11{
  .contact{
    padding: 60px 20px 20px 20px;
    background: #020202;
    color: white;

    &__title{
      font-size: 38px;
      font-weight: 700;
      margin-bottom: 20px;
      text-align: center;
    }
    &__containers-wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
      align-items: center;
    }
    &__info-wrapper{
      display: grid;
      grid-template-rows: repeat(2, 1fr) 150px;
      grid-gap: 10px;
      margin-bottom: 20px;
    }
    &__form{
      padding: 15px;
    }
    &__textarea{
      font-family: inherit;
    }
    &__container2{
      color: #949494;
    }
    &__p{
      font-size: 15px;
      line-height: 1.50;
    }
    &__address-details{
      margin: 20px 0;
    }
    &__details{
      margin: 8px 0;
    }
    &__icon-wrapper{
      color: #BBBBBB;
      transition: all 0.2s ease-in-out;
      border: 1px solid #D0D0D0;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      font-size: 22px;
      padding: 2px;
      margin: 0 4px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__icons-container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 20px 0 50px 0;
    }
    &__text-footer{
      margin: 40px 0 0;
      text-align: center;
      font-size: 15px;
    }
    &__highlight{
      color: #F7780F;
      text-decoration: none;
    }
  }
  .icon-address{
    margin-right: 4px;
  }
  .icon-contact{
    color: #BBBBBB;
    background-color: transparent;
    margin: 5px 0;
  }
}