.page7{
    .contact{
        padding: 8rem 0;
        text-align: center;

        @media(min-width: 768px){
            padding: 4rem 0;
        }

        &__title{
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2;
        }
        &__p{
            color: #6c757d;
            margin: 0 1rem 3rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;

            @media(min-width: 768px)and(max-width: 1023px){
                margin: 0 2.5rem 3rem;
            }
            @media(min-width: 1024px){
                margin: 0 13rem 3rem;
            }
            @media(min-width: 2560px){
                margin: 0 800px;
                font-size: 1.2rem;
            }
        }
        &__cards-wrapper{
            @media(min-width: 1024px){
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                padding: 0 100px;
            }
            @media(min-width: 2560px){
                margin: 50px 600px;
            }
        }
        &__card{
            margin-bottom: 3rem;
            display: flex;
            flex-direction: column;
        }
        &__phone, &__email{
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            margin: 0;
        }
        &__email{
            color: #f4623a;
        }
    }
}