.page12{
  .experience{

    &__title{
      font-size: 34px;
      text-align: center;
      font-weight: 500;
      color: #6A7152;
    }
    &__companies{
      background: #585858;
    }
    &__icon-container{
      display: grid;
      justify-items: center;
      grid-gap: 15px;
      padding: 60px;

      @media(min-width: 1024px){
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        align-items: center;
      }
      @media(min-width: 2560px){
        margin: 4% 20%;
      }
    }
  }
}