.page12{
  .about{
    padding: 4%;

    &__title{
      font-size: 34px;
      color: #6A7152;
      text-align: center;
      font-weight: 500;
    }
    &__subtitle{
      font-size: 16px;
      color: #888888;
      text-align: center;
    }
    &__wrapper{
      @media(min-width: 768px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
      }
      @media(min-width: 2560px){
        margin: 0 20%;
      }
    }
    &__img{
      width: 100%;
      margin: 20px 0;
    }
    &__text-wrapper-title{
      font-size: 24px;
      line-height: 22px;
      font-weight: 600;
      color: #F1BC4D;
    }
    &__p{
      font-size: 15px;
      color: #888888;
      line-height: 1.4rem;
    }
    &__list{
      padding: 0;
      list-style-type: none;
      margin: 0 0 20% 0;
    }
    &__list-item{
      font-size: 14px;
      color: #888888;
      line-height: 2.4rem;
      font-weight: 300;
    }
  }
  .check{
    color: #989898;
    padding-right: 5px;
  }
}