.page8{
    .landing{
        display: grid;

        &__img{
            width: 100%;
            height: auto            
        }
            
        &__word1, &__word2{
            display: none;

            @media(min-width: 1024px){
                position: absolute;
                color: white;
                margin-bottom: 8px;
                font-weight: 700;
                font-size: 60px;
                text-shadow: 2px 1px 1px #000000;
                display: block;
            }
        }
        &__word1{
            transform: translateX(-50%);
            left: 50%;
            bottom: 20%;
        }
        &__word2{
            transform: translateX(-50%);
            left: 70%;
            bottom: 5%;
        }
        &__img-wrapper{
            position: relative;
            display: flex;
        }
        &__text-wrapper{
            background-color: #ea4f5f;
            color: white;
            padding: 100px 30px;
            text-align: -webkit-center;
        }
        &__title{
            line-height: 1.1;
            font-size: 28px;
            font-weight: 300;
        }
        &__p{
            font-size: 14px;
            line-height: 22px;

            @media(min-width: 769px){
                box-sizing: border-box;
                width: 750px;
            }
        }
        .button-left, .button-right{
            position: absolute;
            background-color: transparent;
            border-color: transparent;
            cursor: pointer;
        }
        .button-left{
            left: 0;
            top: 45%;
        }
        .button-right{
            right: 0;
            top: 45%;
        }
        .icon-btn{
            opacity: 0;

            @media(min-width: 768px){
                font-size: 40px;
                color: rgb(0, 0, 0);
                opacity: 0.7;
            } 
        }
    }
}