@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700&display=swap');

.page5{
    a{
        font-family: 'Raleway', sans-serif;
        text-decoration: none;
    }
    h2{
        font-family: 'Raleway', sans-serif;
    }
    h3{
        font-family: 'Open Sans', sans-serif;

    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-size: .8rem;
    }
    .navbar{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            align-items: center;
            width: 90%;
            padding: 20px;
            z-index: 99;
            position: fixed;
            background-color: white;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.16);
        
        &__right-side{
            display: flex;
            justify-content: flex-end;

            @media (min-width: 1224px){
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                align-items: center;
                justify-items: center;
            }
        }
        &__list-item{
            display: none;
        }
    }
    .navbar-button{
        background-color: transparent;
        border-color: transparent;
        color: #2781e6;
        font-size: 1.4rem;
    }
    .landing{
        background-color: #2781e6;
        padding: 10px;

        &__text-section{
            margin-top: 80px;
        }
        &__heading{
            margin: 0;
            font-weight: 500;
            color: white;
            font-size: 2rem;
            font-weight: 500;
        }
        &__bold{
            color: #feae3a;
            font-weight: 700;
            font-family: sans-serif;
            font-size: 3rem;
        }
        &__paragraph{
            color: rgba(255, 255, 255, 0.8);
            line-height: 26px;
            font-size: 1rem;
        }
        &__img-wrapper{
            margin: 10px;
        }
        &__img{
            width: 330px;
        }
    }
    .button{
        background-color: transparent;
        width: 178px;
        height: 46px;
        border-radius: 3px;
        text-align: center;
        color: #fff;
        border: 1px solid #fff;
    }
}