.page9{
  font-family: 'Open Sans', sans-serif;

  .services{
    background: #60B10F;
    padding: 60px 15px;

    &__title{
      color: #fff;
      font-size: 30px;
      text-align: center;
      margin: 0;
      font-weight: 600;
      font-family: 'Raleway', sans-serif;
    }
    &__subtitle{
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      margin: 20px 10px;
    }
    &__container{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      margin: 80px 0;
      grid-gap: 60px;

      @media(min-width: 768px){
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &__card{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      color: #fff;

      @media(min-width: 768px){
        padding: 0 20px;
      }
    }
    &__icon-wrap{
      padding: 0px 25px 20px;
      border-bottom: 1px dashed #FFCF74;
    }
    &__card-title{
      margin: 30px 0 10px 0;
    }
    &__card-p{
      margin: 0;
      font-size: 14px;
    }
  }
  .service-icon{
    font-size: 28px;
  }
}