.page7{
    .landing{
        background: linear-gradient(to bottom,rgba(92,77,66,.8) 0,rgba(92,77,66,.8) 100%),url("../containers/images/landing7.jpg");
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 140px 0;
        color: white;

        @media(min-width: 1024px){
            padding: 200px 0;
        }

        &__title{
            font-size: 2.25rem;
            font-weight: 700;
            line-height: 1.2;
            text-align: -webkit-center;
            margin: 0 15px;

            @media(min-width: 1024px){
                font-size: 3rem;
                margin: 0 120px;
            } 
        }
        &__paragraph{
            color: rgba(255,255,255,.75);
            font-weight: 300;
            padding: 0 15px;
            text-align: -webkit-center;
            margin-bottom: 30px;
            font-size: 1rem;
            line-height: 1.5;

            @media(min-width: 1024px){
                margin: 20px 290px;
            }
            @media(min-width: 2560px){
                font-size: 1rem;
            }
        }
        &__text-wrapper{
            margin-bottom: 40px;

            @media(min-width: 2560px){
                margin: 100px 500px;
            }
        }
    }
}