.page9{
  .testimonial{
    background: rgb(43, 42, 42);
    padding: 60px 15px;

    &__title{
      color: #D2D2D2;
      font-size: 30px;
      text-align: center;
      margin: 0;
      font-weight: 600;
      font-family: 'Raleway', sans-serif;
    }
    &__subtitle{
      color: #888888;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      margin: 20px 10px;
    }
    &__team-container{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      padding: 40px 10px;
    }
    &__card{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
    &__img{
      width: 120px;
    }
    &__name{
      color: #888888;
      font-size: 18px;
      font-weight: 700;
    }
    &__p{
      color: #888888;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
    }
  }
}