@keyframes fill {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
@keyframes left{
    0% {
        left: 0%
    }
    100% {
        left: 55%;
    }
}
@keyframes right{
    0% {
        right: 0%
    }
    100% {
        right: 50%;
    }
}

.page8{
    overflow-x: hidden;

    .landing{
        display: grid;

        &__img{
            width: 100%;
            height: auto            
        }    
        &__word1, &__word2{
            display: none;

            @media(min-width: 1024px){
                position: absolute;
                color: white;
                margin-bottom: 8px;
                font-weight: 700;
                font-size: 60px;
                text-shadow: 2px 1px 1px #000000;
                display: block;
            }
        }
        &__word1{
            transform: translateX(-90%);
            bottom: 20%;
            animation: left 5s infinite;
        }
        &__word2{
            transform: translateX(130%);
            bottom: 5%;
            animation: right 5s infinite;
        }
        &__img-wrapper{
            position: relative;
            display: flex;

            @media(min-width: 2560px){
                margin: 0 300px;
            }
        }
        &__text-wrapper{
            background-color: #ea4f5f;
            color: white;
            padding: 100px 30px;
            text-align: -webkit-center;
        }
        &__title{
            line-height: 1.1;
            font-size: 28px;
            font-weight: 300;
        }
        &__p{
            font-size: 14px;
            line-height: 22px;

            @media(min-width: 769px){
                box-sizing: border-box;
                width: 750px;
            }
        }
        &__progress-bar{
            position: absolute;
            bottom: 0;
            height: 6px;
            width: 100%;
        }
        &__filler{
            background: rgba(148, 40, 20, 0.877);
            height: 100%;
            animation: fill 5s linear infinite;
        }
        .button-left, .button-right{
            position: absolute;
            background-color: transparent;
            border-color: transparent;
            cursor: pointer;
        }
        .button-left{
            left: 0;
            top: 45%;
        }
        .button-right{
            right: 0;
            top: 45%;
        }
        .icon-btn{
            font-size: 40px;
            color: rgb(0, 0, 0);
            opacity: 0.7;
        }
    }
}