.page9{
  .contact{
    background: rgb(43, 42, 42);
    padding: 60px 20px;

    &__title{
      color: #D2D2D2;
      font-size: 30px;
      text-align: center;
      margin: 0;
      font-weight: 600;
      font-family: 'Raleway', sans-serif;
    }
    &__subtitle{
      color: #888888;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      margin: 20px 10px;
    }
    &__info-container{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      justify-items: left;
      padding: 20px 10px;
      align-items: center;
    }
    &__info-pair{
      display: flex;
      flex-direction: column;
      padding: 10px 0;
    }
    &__info-title{
      font-size: 18px;
      color: #888888;
      text-align: left;
      font-weight: 100;
      margin: 0;
    }
    &__p{
      font-size: 16px;
      color: #ffffff;
    }
    &__send-wrapper{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-gap: 10px;
      padding: 20px;

      @media(min-width: 768px){
        grid-gap: 30px;
      }
      @media(min-width: 1024px){
        grid-template-columns: 800px;
        justify-content: center;
      }
    }
    &__form{
      color: #999;
      font-size: 1rem;
      border-bottom: 1px solid rgb(190, 189, 189);
      padding: 15px;
      background-color: transparent;
      border: none;
    }
    &__textarea{
      height: 100px;
      font-family: "Open Sans", Arial, sans-serif;
      background-color: transparent;
      border: none;
    }
  }
}