.page6{
    .about{
        &__page-title{
            color: white;
            padding: 50px 0;
            text-align: center;
            background: #2d2d2d;
        }
        &__title{
            font-size: 1.4rem;
            text-align: center;
            margin: 0;
        }
        &__about-wrapper{
            padding: 30px;  

        }
        &__wrapper{
            margin: 20px 0;

            @media(min-width: 1024px){
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin: 40px;
            }
            @media(width: 2560px){
                margin: 0 400px;
            }
        }
        &__img{
            width: 100%;
        }
        &__text{
            line-height: 1.1em;
            color: #212121;
            font-weight: 200;

            &--font{
                font-size: 1.4rem;
                font-weight: 500;
            }
        }
        &__text-color{
            line-height: 1.1em;
            color: #ff5722;
        }
        &__p{
            font-weight: 300;
            line-height: 1.6em;
            color: #656565;
        }
        &__wrapper-part2{
            @media(min-width: 1024px){
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
            @media(width: 2560px){
                margin: 0 400px;
            }
        }
        &__reason-wrapper{
            padding: 30px;
        }
    
        &__acc-wrapper{
            padding: 30px;
        }
        &__accordion-card{
            margin: 10px 0;
        }
        &__expertise-wrapper{
            padding: 30px;
        }
        &__progress-container{
            height: 6px;
            margin-bottom: 18px;
            background-color: #f5f5f5;
            border-radius: 2px;
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.1)
        }
        &__progress-bar{
            width: 40%;
            background: #ed5441;
            height: 100%;

            &--color2{
                width: 60%;
                background: #51d466;
                height: 100%;
            }
            &--color3{
                width: 80%;
                background: #33b1d1;
                height: 100%;
            }
            &--color4{
                width: 30%;
                background: #2a0bd8;
                height: 100%;
            }
        }
        &__team-container{
            padding: 30px;

            @media(width: 2560px){
                margin: 0 400px;
            }
        }
        &__members{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px 0;

            @media(width: 768px){
                display: grid;
                grid-template-columns: repeat(2, 1fr);

            }
            @media(min-width: 1024px){
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 15px;
            }
        }
        &__team-member{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 15px 0;
        }
        &__team-img{
            width: 200px;

            @media(width:768px){
                width: 300px;
            }
            @media(min-width: 1024px){
                width: 250px;
            }
        }
        &__team-name{
            line-height: 1.1em;
            color: #656565;
            font-weight: 200;
            font-size: 1rem;
            margin: 5px 0;
        }
        &__team-job{
            line-height: 1.1em;
            color: #656565;
            font-weight: 200;
            margin: 0;
        }
    }
    .accordion{
        border: 1px solid #ddd;
        padding: 10px;

        &__button{
            padding: 10px;
            cursor: pointer;
            font-size: 1.2rem;
            color: #656565;
        }
        &__p{
            margin: 0;
            padding: 20px;
            border-top: 1px solid #ddd;
            color: #656565;
            line-height: 1.6em;
        }
    }
    .fa-arrow-right{
        padding-right: 10px;
    }
}