@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.secondpage{
    .navbar{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 25px;


    &__right-side{
        display: grid;
        justify-content: end;
        align-items: center;
    }}

    .start{
        text-decoration: none;
        font-size: 1.75em;
        color: #fed136;
        font-family: 'Kaushan Script', cursive;
    }
    .button{
        font-size: 100%;
        border: 0;
        font-family: inherit;
        background-color: transparent;
        letter-spacing: 1px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        padding: 0 10px;
        cursor: pointer;

        &:hover{
            color: #fed136;
        }
    }
    .landing-page{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 200px 0;
    }
}