@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400');

.secondpage{
    .navbar{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 25px;


    &__right-side{
        display: grid;
        justify-content: end;
        align-items: center;
    }}

    .start{
        text-decoration: none;
        font-size: 1.75em;
        color: #fed136;
        font-family: 'Kaushan Script', cursive;
    }
    .button{
        font-size: 100%;
        border: 0;
        font-family: inherit;
        background-color: transparent;
        letter-spacing: 1px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        padding: 0 10px;
        cursor: pointer;

        &:hover{
            color: #fed136;
        }
    }
    .landing-page{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 200px 0;
        background-image: url("../containers/images/secondpage.jpg");
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;

        &__welcome{
            color: white;
            font-size: 40px;
            line-height: 40px;
            font-family: 'Merriweather', serif;
            font-weight: 300;
            margin-top: 0;
        }
        &__subtext{
            color: white;
            font-size: 75px;
            font-weight: 700;
            line-height: 75px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            margin-top: 0;
        }
    }
    .btn-yellow{
        color: white;
        background-color: #fed136;
        border-color: #fed136;
        font-size: 18px;
        padding: 20px 40px;
        border-radius: 5px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        transition: #fed136 .15s ease;

        &:hover{
            background-color: #e4ba25;
        }
    }
    .services-page{
        padding: 150px 0;   
    }
    .icons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}