@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400');

.secondpage{
    .navbar{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 25px;
        position: fixed;

        &__right-side{
            display: grid;
            align-items: center;
        }
        &__navbar-button{
            font-size: 1rem;
            border: 0;
            background-color: transparent;
            letter-spacing: 1px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            padding: 0 10px;
            cursor: pointer;
    
            &:hover{
                color: #fed136;
            }
    }

    .start{
        text-decoration: none;
        font-size: 1.75em;
        color: #fed136;
        font-family: 'Kaushan Script', cursive;
    }
    }
    .landing-page{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 230px 0;
        background-image: url("../containers/images/secondpage.jpg");
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;

        &__welcome{
            color: white;
            font-size: 3rem;
            font-family: 'Merriweather', serif;
            font-weight: 300;
            margin-top: 0;
        }
        &__subtext{
            color: white;
            font-size: 5rem;
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
            margin-top: 0;
            text-align: center;

            @media (min-width: 320px) and (max-width: 480px){
                font-size: 2rem;
            }
        }
    }
    .button{
        color: white;
        background-color: #fed136;
        border-color: #fed136;
        font-size: 1rem;
        padding: 20px 40px;
        border-radius: 5px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        transition: #fed136 .15s ease;

        &:hover{
            background-color: #e4ba25;
        }
    }
    .services-page{
        padding: 150px 0;
        margin: 0 50px;

        @media (min-width: 320px) and (max-width: 480px){}

        &__sub-title{
            margin-bottom: 75px;
        }
    }
    .icons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        grid-gap: 10px;

        @media (min-width: 320px) and (max-width: 480px){
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: 1fr;
        }

        .fa-stack{
            font-size: 4rem;
        }
        .fa-circle{
            color: #fed136;
        }
    }
    .portfolio{
        padding: 100px 0;
        background-color: #f8f9fa;
    }
    .portfolio-images{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 20px;

        @media (min-width: 320px) and (max-width: 480px){
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: auto;
        }

        .wrapper{
            display: flex;
            flex-direction: column;
        }
        &__img{
            position: relative;
            height: 35vh;
            width: 25vw;
            margin: 0 auto;
            cursor: pointer;
            object-fit: cover;
        }
        &__title-img{
            margin: 10px 0;
            font-size: 1.5rem;
        }
        &__sub-title-img{
            margin-top: 0;
            font-size: 1rem;
        }
    }
    .about{
        padding: 100px 0;
    }
    .timeline{
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr) ;
        margin: 0 70px;

        @media (min-width: 320px) and (max-width: 480px){
            margin: 0;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto ; 
        }

        &__p{
            width: 70%;
        }
        &__circle{
            position: absolute;
            border: 7px solid #e9ecef;
            border-radius: 100%;
            left: 42%;

            @media (min-width: 320px) and (max-width: 480px){
                left: 10%;
            }
        }
        &__img{
            width: 170px;
            height: 170px;        
            border-radius: 50%;

            @media (min-width: 320px) and (max-width: 480px){
                height: 22vh;
                width: 24vw;
            }
        }
        &__circle-last{
            position: absolute;
            border: 7px solid #e9ecef;
            border-radius: 100%;
            left: 42%;
            width: 170px;
            height: 170px;
            background-color: #fed136;
            
            @media (min-width: 320px) and (max-width: 480px){
                height: 22vh;
                width: 24vw;
                left: 10%;
                font-size: .9em;

            }
        }
        &__last{
            text-align: -webkit-center;
            color: white;
        }

    }
    .card{
        margin: 0 50px;
        padding: 0 50px;

        @media (min-width: 320px) and (max-width: 480px){
            margin: 0;
            padding: 0 10px;
            
        }
    }
    .container1{
        grid-column: 1/2;
        grid-row:1/2;
        text-align: -webkit-right;

       
    }
    .container2{
        grid-column: 2/3;
        grid-row: 2/3;

        @media (min-width: 320px) and (max-width: 480px){
            grid-column: 1/2;
            text-align: -webkit-right;
        }
    }
    .container3{
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: -webkit-right;

        @media (min-width: 320px) and (max-width: 480px){
            grid-column: 1/2;
        }
    }
    .container4{
        grid-column: 2/3;
        grid-row: 4/5;

        @media (min-width: 320px) and (max-width: 480px){
            grid-column: 1/2;
            text-align: -webkit-right;

        }
    }
    .container5{
        grid-column: 2/3;
        grid-row: 5/6;
        margin: 0 50px;

        @media (min-width: 320px) and (max-width: 480px){
            grid-column: 1/2;
        }
    }
    .timeline::before{
        left: 50%;
        position: absolute;
        top: 40px;
        bottom: 190px;
        width: 2px;
        content: '';
        background-color: #e9ecef;

        @media (min-width: 320px) and (max-width: 480px){
            left: 10%;
            bottom: 0;
        }
    }
    .team-page{
        padding: 100px 0;
        background-color: #f8f9fa;

        &__subtitle{
            padding-bottom: 75px;
        }
        &__p{
            text-align: center;
            padding: 1em 15em;

        @media (min-width: 320px) and (max-width: 480px){
            padding: 0;
        }
        }
    }
    .team-wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 15px;
        text-align: center;

        @media (min-width: 320px) and (max-width: 480px){
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }
    }
    .team-card{

        &__img{
            width: 200px;
            height: 200px;
            border: 7px solid #fff;
            border-radius: 50%;
        }
        &__title{
            margin-bottom: 0;
        }
        &__p{
            margin-top: 0;
        }
    }
    .fa-stack{
        cursor: pointer;
    }
    .fa-circle:hover{
        color: #e4ba25;
    }
    .sponsors{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding: 30px 20px;

    @media (min-width: 320px) and (max-width: 480px){
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    }
    .contact{
        background-image: url('../containers/images/map.png');
        background-repeat: no-repeat;
        background-size: cover;

        &__title{
            color: white;
            padding-top: 100px;
        }
        &__sub-title{
            color: darkgrey;
        }
    }
    .inputs{
        display: grid;
        grid-template-columns: repeat(2,1fr) ;
        grid-gap: 20px;
        padding: 60px 40px;

        @media (min-width: 320px) and (max-width: 480px){
            display: grid;
            grid-template-columns: 1fr ;
        }
        
        &__left{
            display: grid;
            grid-auto-rows: 1fr;
            grid-gap: 20px;
        }
      
        .input{
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            padding: 15px;
        }
    }
    .button-btn{
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
    }
    .footer{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        padding: 30px;
        font-size: 1rem;

        @media (min-width: 320px) and (max-width: 480px){
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr;
        }

        &__icons{
          font-size: .8rem;
        }
        &__right-side{
            display: flex;
            align-items: center;
            font-size: 1rem;
        &__a{
            padding-right: 10px;
            color: #fed136;
            text-decoration: none;
        }
       }
        .footer__right-side__a:hover{
            text-decoration: underline;
        }
    }
}