@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,700|Saira+Extra+Condensed:300,400,500,600,700');

.third-page{
    .navbar{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        background-color: #bd5d38;
        padding: 8px 16px;
        position: fixed;
        width: 100%;
        z-index: 1;

        @media (min-width: 1024px){
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 180px 1fr;
            justify-items: center;
            height: 100%;
            width: 220px;
            top: 0;
            left: 0;
            padding-top: 50px;
        }

        &__left{
            text-decoration: none;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-family: 1.3rem;
            display: flex;
            align-items: center;

            @media (min-width: 1024px){
                display: none;
            }
        }
        &__right{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 30px;

            @media (min-width: 1024px){
                display: none;
            }
        }
        &__pic-container{
            @media (max-width: 1023px){
                display: none; 
            }
        }
        &__pic{
            width: 140px;
            border: .5rem solid rgba(255,255,255,.2);
            border-radius: 50%;
            cursor: pointer;

            @media (max-width: 1023px){
                display: none;
            }
        }
        &__list{
            display: flex;
            flex-direction: column;
            text-align: center;

            @media (max-width: 1023px){
                display: none;
            }
        }
        &__item{
            text-decoration: none;
            color: rgba(255,255,255,.5);
            font-family: 'Saira Extra Condensed', sans-serif;
            font-size: 1.5rem;
            letter-spacing: .07rem;
            font-weight: 800;
            padding: 8px;

            @media (max-width: 1023px){
                display: none;
            }

            &:hover{
                color: rgba(255, 255, 255, 0.76);
            }
            &:active{
                color: white;
            }
            &:focus{
                color: rgba(255, 255, 255, 0.644);
            }
        }
        &__is-current{
                color: white;
        }
    }
    #scroll{
        scroll-behavior: smooth;
    }
    .button-menu{
        cursor: pointer;
        border-color: rgba(255,255,255,.1);
        background-color: transparent;
        color: rgb(218, 214, 210);
        font-size: 1.25rem;
        padding: 6px 15px;
        border-radius: 4px;

        @media (min-width: 1024px){
            display: none;
        }
    }
    .dropdown{
        display: flex;
        flex-direction: column;
    }
    .dropdown-item{
        background-color: transparent;
        border-color: transparent;
        font-weight: 800;
        color: rgba(255,255,255,.5);
        font-family: 'Saira Extra Condensed', sans-serif;
        font-size: 1.3rem;
        letter-spacing: .07rem;

        &:hover{
            color: white;
        }
    }
    .about{
        font-family: 'Saira Extra Condensed', sans-serif;
        padding: 8rem 15px;
        display: flex;
        flex-direction: column;
        align-items: start;

        @media (min-width: 1024px){
            padding-left: 280px;
        }

        &__name{
            line-height: 5.5rem;
            display: flex;
            flex-direction: column;
            align-items: start;

            @media (min-width: 768px){
                display: flex;
                flex-direction: row;
            }
        }
        &__heading{
            font-size: 6rem;
            margin: 0;

            &--first{
                color: #343a40;

                @media (min-width: 768px){
                    padding-right: 15px;
                }
            }
            &--second{
                color: #bd5d38;
            }
        }
        &__subheading{
            font-size: 1.5rem;
            color: #868e96;
            padding-bottom: 30px;
        }
        &__email{
            color: #bd5d38;
            text-decoration: none;
            font-weight: 600;
        }
        &__description{
            font-size: 1.15rem;
            font-weight: 400;
            margin-bottom: 3rem;
        }
    }
    .break-line{
        border-top: 1px solid rgba(0,0,0,.1);
        margin: 0;
    }
    .icons-media{
        margin-bottom: 2rem;
    }
    .icons-media__hover{
        color: #495057;
        &:hover{
            color: #bd5d38;
        }
    }
    .fa-stack{
        font-size: 1.5rem;
    }
    .experience{
        padding-left: 15px;
        margin-top: 5rem;

        @media (min-width: 1024px){
            padding-left: 280px;
        }

        &__card{
            display: flex;
            flex-direction: column;
            align-items: baseline;
        }
        &__heading{
            margin-bottom: 3rem;
        }
        &__job{
            font-size: 2rem;
            color: #343a40;
            font-weight: 700;
            margin: 0;
        }
        &__company{
            margin: 0;
            font-weight: 500;
        }
        &__years{
            color: #bd5d38;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            margin-bottom: 3rem;
        }
    }
    .education{
        padding-left: 15px;
        margin-bottom: 5rem;

        @media (min-width: 1024px){
            padding-left: 280px;
        }

        &__card{
            display: flex;
            flex-direction: column;
            align-items: start;
        }
        &__heading{
            margin-bottom: 3rem;
            margin-top: 5rem;
        }
        &__institution{
            font-size: 2rem;
            font-weight: 700;
            margin: 0;
            color: #343a40;
            text-align: -webkit-left;
        }
        &__degree{
            margin: 0;
            font-weight: 500;
        }
        &__years{
            color: #bd5d38;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            margin-bottom: 3rem;
        }
    }
    .skills{
        padding: 5rem 15px;
        display: flex;
        flex-direction: column;
        align-items: start;

        @media (min-width: 1024px){
            padding-left: 280px;
        }

        &__heading{
            margin: 4rem 0;
        }
        &__subheading{
            text-align: left;
        }
        &__list{
            color: #868e96;
        }
        &__item{
            font-family: 'Roboto', sans-serif;
        }
    }
    .fa-check{
        padding-right: 8px;
    }
    .icons{
        font-size: 3rem;
        color: #868e96;

        :hover{
            color: #bd5d38;
        }

        &__symbol{
            margin: 0 5px;
        }
    }
    .interests{
        padding: 10rem 15px;
       

        @media (min-width: 1024px){
            padding-left: 280px;
        }

        &__heading{
            text-align: left;
            margin-bottom: 40px;
            margin-top: 5rem;
        }
    }
    .awards{
        padding: 10rem 15px;
        
        @media (min-width: 1024px){
            padding-left: 280px;
        }

        &__heading{
            text-align: left;
            margin-top: 5rem;
            margin-bottom: 40px;
        }
        &__list{
            padding: 0 15px;
        }
    }
    .fa-trophy{
        color: #ffc107;
        padding-right: 8px;
    }
}