.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px repeat(4,1fr) 60px 60px;
    width: 98vw;
    height: 500vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.navbar{
   display: grid;
   grid-column: 1/4;
   grid-row: 1/ 2; 
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 45px;
    margin-right: 45px;
}
.navbar-brand{
    grid-row: 1/  2;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 20px;
    padding-top: 6px;
}
.sign-in{
    grid-row: 1/2;
    width: 65px;
    justify-self: end;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    font-weight: 400;
    border: 1px solid transparent;
    border-radius: 6px;
    width: 75px;
    height: 40px;

}
.text-middle{
    grid-column: 1/ span 4;
    grid-row: 2/  3;
}
.icons{
    grid-column: 1/ span 4;
    grid-row: 3/  4;
}
.cards-img{
    grid-column: 1/ span 4;
    grid-row: 4/  5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.people-img{
    grid-column: 1/ span 4;
    grid-row: 5/  6;
}
.sign-up2{
    grid-column: 1/ span 4;
    grid-row: 6/  7;
}
.footer{
    grid-column: 1/ span 4;
    grid-row: 7/  8;
}