
body{
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px 600px repeat(6,1fr);
    height: 500vh;
    margin: 0px;
    padding: 0px;  
}
/*Navbar*/

.navbar{
   display: grid;
   grid-column: 1/4;
   grid-row: 1/ 2; 
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 45px;
    margin-right: 45px;
}
.navbar-brand{
    grid-row: 1/  2;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 20px;
    padding-top: 6px;
    cursor: pointer;
}
.sign-in{
    grid-row: 1/2;
    width: 65px;
    justify-self: end;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    font-weight: 400;
    border: 1px solid transparent;
    border-radius: 6px;
    width: 75px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
}
/*Water card*/

.water-card{
    grid-column: 1/ span 4;
    grid-row: 2/  3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./containers/images/water.jpg");
    background-color: black;
    background-size: 100% 100%;
}
.text-input{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 140px;
    margin-left: 140px;
    line-height: 1.2;
    margin-top: 0;
    box-sizing: border-box;
    width: 916px;
}
.text{
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 48px;
}
.email{
    grid-column: 1/ 2;
    grid-row: 2/ 3;
    width: 33vw;
    height: 4vh;
    border-radius: 5px;
    font-size: 1.25rem;
    line-height: 1.5;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}
.sign-up{
    grid-column: 1/ 2;
    grid-row: 2/ 3;
    width: 11vw;
    height: 7.2vh;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    font-weight: 400;
    border: 1px solid transparent;
    border-radius: 6px;
    font-weight: 400;
    font-size: 1.2em;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    margin-left: 10px;
}
.water{
    height: 91vh;
    width: 100vw;
}
/*Icons card*/

.icons{
    grid-column: 1/ span 4;
    grid-row: 3/  4;
    margin-left: 61px;
    margin-right: 61px;
    padding-left: 15px;
    padding-right: 15px; 
    padding-top: 112px;
    padding-bottom: 112px;
    display: grid;
}
.first-card{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    text-align: center;
}
.second-card{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    text-align: center;
}
.third-card{
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
    text-align: center;
   
}
.fa-desktop, .fa-layer-group, .fa-check-circle{
    font-size: 65px;
    color: #007bff;
}
.fa-desktop:hover{
    font-size: 5rem;
}

.fa-layer-group:hover{
    font-size: 5rem;
}

.fa-check-circle:hover{
    font-size: 5rem;
}
.first-h1, .second-h1, .third-h1, .first-h2, .second-h2, .third-h2{
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.first-h1, .second-h1, .third-h1{
    font-weight: 700;
    font-size: 1.75rem;
    margin-bottom: .5rem;
}
.first-h2, .second-h2, .third-h2{
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 0;
}
/*Images cards*/
.cards-img{
    grid-column: 1/ span 4;
    grid-row: 4/  5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 210vh;
}
.img2{
    background-image: url(./containers/images/bg-showcase-1.jpg);
    background-size: cover;
}
.img3{
    background-image: url(./containers/images/bg-showcase-2.jpg);
    background-size: cover;
}
.img6{
    background-image: url(./containers/images/bg-showcase-3.jpg);
    background-size: cover;
}
.img1, .img4, .img5{
    align-self: center;
    text-align: center;
    padding: 60px;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
/*People cards*/
.people-img{
    grid-column: 1/ span 4;
    grid-row: 5/  6;
}
.sign-up2{
    grid-column: 1/ span 4;
    grid-row: 6/  7;
}
.footer{
    grid-column: 1/ span 4;
    grid-row: 7/  8;
}